@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:ital@0;1&display=swap");
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 10rem;
  background-color: #2a5436;
}
.nav .logo img {
  width: 12rem;
}
.nav .main-menu li {
  font-size: 1.5rem;
  list-style: none;
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav .main-menu a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav .main-menu a:hover {
  color: grey;
}

.home-description h2 {
  position: absolute;
  top: 400px;
  width: 45vw;
  color: white;
  font-size: 2.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-left: 5rem;
  text-shadow: 2px 2px 2x black;
}
.home-description p {
  position: absolute;
  top: 520px;
  width: 45vw;
  color: white;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  padding-left: 5rem;
}
.home-description .btn-index {
  background-color: #2a5436;
  color: white;
  width: 8rem;
  padding: 5px;
  border-radius: 10px;
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 620px;
  width: 8rem;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 8rem;
  border-radius: 5rem;
  background-color: #cfa767;
}
.home-description .imagen-principal {
  width: 100vw;
  display: flex;
}

.description-profesores {
  display: flex;
  width: 100vw;
}
.description-profesores h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 9rem;
  margin-left: 8rem;
}
.description-profesores p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-left: 8rem;
}
.description-profesores .btn-index {
  background-color: #2a5436;
  color: white;
  width: 8rem;
  padding: 5px;
  border-radius: 10px;
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 8rem;
  border-radius: 5rem;
}
.description-profesores .imagen-profesor {
  width: 500px;
}

.sponsors {
  display: flex;
  background-color: #272727;
  justify-content: space-evenly;
  width: 100vw;
  height: 6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-social-media {
  display: flex;
  background-color: #272727;
  width: 100vw;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container-social-media .img-logo {
  height: 1.8rem;
}

.container-footer {
  display: flex;
  background-color: #272727;
  width: 100vw;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.container-footer h5 {
  color: #CCC9DC;
  font-size: 0.8rem;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container-elclub {
  background-color: #272727;
  width: 100vw;
}
.container-elclub h1, .container-elclub h2 {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  font-size: 2.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}
.container-elclub h3 {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
}
.container-elclub p, .container-elclub li {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.container-elclub .imagen-club {
  width: 600px;
  border-radius: 1rem;
  margin-left: 3rem;
}

.container-formulario {
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
.container-formulario fieldset legend {
  font-size: 2.5rem;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
}
.container-formulario fieldset input {
  border-radius: 5px;
  border: 1px solid;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 0.7rem;
  align-items: center;
  justify-content: center;
}
.container-formulario fieldset select {
  border-radius: 5px;
  border: 1px solid;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 0.7rem;
}
.container-formulario fieldset label {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
}
.container-formulario fieldset .btn-submit {
  background-color: #2a5436;
  color: white;
  width: 8rem;
  padding: 5px;
  border-radius: 10px;
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}
.container-formulario fieldset .btn-reset {
  background-color: #2a5436;
  color: white;
  width: 8rem;
  padding: 5px;
  border-radius: 10px;
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}
.container-formulario fieldset .buttoms {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #272727;
}

.container-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  gap: 1rem;
  padding: 1rem;
  background-color: #272727;
}

.imagen-galeria {
  width: 450px;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container-contacto {
  width: 100vw;
}
.container-contacto .card-title {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
.container-contacto .container-social-media-coach {
  display: flex;
  padding: 0.5rem;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
}
.container-contacto .card-text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1.2rem;
  font-weight: lighter;
}
.container-contacto .list-group-item {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .title-obj h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
  }
  .description-obj h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }
  .description-obj p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sponsors {
    display: flex;
    flex-direction: column;
    background-color: #272727;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .sponsors .sponsor-img {
    width: 250px;
    padding: 1rem;
  }
  .imagen-club {
    max-width: 320px;
    border-radius: 1rem;
    margin-left: 2rem;
  }
  .img-fluid {
    width: 100vw;
  }
  .description-profesores {
    display: flex;
    width: 100vw;
  }
  .description-profesores .contenedor-profe {
    width: 100%;
  }
  .description-profesores h2 {
    text-align: center;
    margin-top: 1rem;
    margin-left: 1rem;
  }
  .description-profesores p {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .description-profesores .btn-index {
    margin-bottom: 1rem;
    justify-content: center;
  }
}
/* ==========FONTS FAMILIES========== */
/* ==========GENERAL SETTINGS========== */
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */
