@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:ital@0;1&display=swap");
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 10rem;
  background-color: #144d29;
}
.nav .logo img {
  max-width: 15rem;
}
.nav .main-menu li {
  font-size: 1.5rem;
  list-style: none;
  display: inline;
  padding-left: 1rem;
  padding-right: 1rem;
}
.nav .main-menu a {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.nav .main-menu a:hover {
  color: grey;
}

.home-description p {
  position: absolute;
  top: 420px;
  width: 50vw;
  color: white;
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.home-description .imagen-principal {
  width: 100vw;
  display: flex;
}

.title-obj {
  display: flex;
  background-color: #CCC9DC;
  width: 100vw;
  justify-content: center;
}
.title-obj h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.description-obj {
  display: flex;
  background-color: #CCC9DC;
  width: 100vw;
  justify-content: space-evenly;
}
.description-obj h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}
.description-obj p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.sponsors {
  display: flex;
  background-color: #1B2A41;
  justify-content: space-evenly;
  width: 100vw;
  height: 4.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container-social-media {
  display: flex;
  background-color: #1B2A41;
  width: 100vw;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container-social-media .img-logo {
  height: 1.8rem;
}

.container-footer {
  display: flex;
  background-color: #1B2A41;
  width: 100vw;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.container-footer h5 {
  color: #CCC9DC;
  font-size: 0.8rem;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container-elclub {
  background-color: #CCC9DC;
  width: 100vw;
}
.container-elclub h1, .container-elclub h2 {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.container-elclub h3 {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.container-elclub p, .container-elclub li {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.container-elclub .imagen-club {
  width: 600px;
  border-radius: 1rem;
  margin-left: 3rem;
}

.container-formulario {
  display: flex;
  background-color: #CCC9DC;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

fieldset legend {
  font-size: 2.5rem;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
}

input {
  border-radius: 5px;
  border: 1px solid #324A5F;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 0.7rem;
}

select {
  border-radius: 5px;
  border: 1px solid #324A5F;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 0.7rem;
}

label {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
}

.btn-submit {
  background-color: #324A5F;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-reset {
  background-color: #324A5F;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttoms {
  display: flex;
  width: 100vw;
  justify-content: center;
  padding: 2rem;
  background-color: #CCC9DC;
}

.container-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  gap: 1rem;
  padding: 1rem;
  background-color: #CCC9DC;
}

.imagen-galeria {
  width: 400px;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.container-contacto {
  background-color: #CCC9DC;
  width: 100vw;
}

.container-social-media-coach {
  display: flex;
  padding: 0.5rem;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1.2rem;
  font-weight: lighter;
}

.list-group-item {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .title-obj h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
  }
  .description-obj h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }
  .description-obj p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .sponsors {
    display: flex;
    flex-direction: column;
    background-color: #1B2A41;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .sponsors .sponsor-img {
    width: 250px;
    padding: 1rem;
  }
  fieldset legend {
    text-align: center;
    font-size: 2.5rem;
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
  }
  .imagen-club {
    max-width: 320px;
    border-radius: 1rem;
    margin-left: 2rem;
  }
  .img-fluid {
    width: 100vw;
  }
}
/* ==========FONTS FAMILIES========== */
/* ==========GENERAL SETTINGS========== */
* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/*# sourceMappingURL=styles.css.map */
