.container-contacto {
    width: 100vw;
    .card-title {
        @include font-card();
        font-size: 2rem;
        text-align: center;
    }
    .container-social-media-coach {
        .img-logo {
            height: 1.8rem;
        } 
        @include flex();
        padding: 0.5rem;
        height: 50px;
        width: 100%;
        justify-content: space-evenly;
    }
    .card-text {
        @include font-card();
        font-size: 1.2rem;
        font-weight: lighter;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .list-group-item {
        @include font-card();
        font-size: 1.0rem;
    }
}