.container-contacto {
    background-color: #CCC9DC;
    width: 100vw;
}
  
.container-social-media-coach {
    display: flex;
    padding: 0.5rem;
    height: 50px;
    width: 100%;
    justify-content: space-evenly;
}

.card-title {
    @include font-card();
    font-size: 2rem;
    text-align: center;
}

.card-text {
    @include font-card();
    font-size: 1.2rem;
    font-weight: lighter;
}

.list-group-item {
    @include font-card();
    font-size: 1.0rem;
}