.container-social-media {
    .img-logo {
        height: 1.8rem;
    } 
    display: flex;
    background-color: #272727;
    width: 100vw;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
  
.container-footer {
    display: flex;
    background-color: #272727;
    width: 100vw;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
        h5 {
            color: #CCC9DC;
            font-size: 0.8rem;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
        }
}