.container-social-media {
    .img-logo {
        height: 1.8rem;
    } 
    @include flex();
    background-color: #272727;
    width: 100vw;
    gap: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
  
.container-footer {
    @include flex();
    background-color: #272727;
    width: 100vw;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    h5 {
        color: #CCC9DC;
        font-size: 0.8rem;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        }
}