.container-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    gap: 1rem;
    padding: 1rem;
    background-color: #272727;
}
  
.imagen-galeria {
    width: 450px;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}