.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    min-height: 10rem;
    background-color: #2a5436;
    .logo img {
        width: 12rem;
    }
    .main-menu {
        li {
            font-size: 1.5rem;
            list-style: none;
            display: inline;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        a {
            color: white;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
                &:hover {
                    color: grey;
                }
        }
    }
}