.home-description {
    h2 {
        position: absolute;
        top: 400px;
        width: 45vw;
        color: white;
        font-size: 2.6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding-left: 5rem;
        text-shadow: 2px 2px 2px black;
    }
    p {
        position: absolute;
        top: 520px;
        width: 45vw;
        color: white;
        font-size: 1.2rem;
        font-family: 'Montserrat', sans-serif;
        padding-left: 5rem;
    }
    .btn-index {
        @include btn-main();
        position: absolute;
        top: 620px;
        width: 8rem;
        font-size: 1rem;
        font-weight: 500;
        margin-left: 8rem;
        border-radius: 5rem;
        background-color: #cfa767;
    }
    .imagen-principal {
        width: 100vw;
        display: flex;
    }
}
.responsive-map {
    display: flex;
}