.home-description {
    p {
        position: absolute;
        top: 400px;
        width: 45vw;
        color: white;
        font-size: 2.4rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        padding-left: 5rem;
    }
    .imagen-principal {
        width: 100vw;
        display: flex;
    }
}