@mixin btn-main {
    background-color: #324A5F;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}

@mixin font-card {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}