.container-formulario {
    display: flex;
    flex-direction: column;
    background-color: #272727;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    fieldset {
        width: 100vw;
        align-items: center;
        justify-content: center;
        legend {
            font-size: 2.5rem;
            padding: 2rem;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            color: white;
        }
        form {
        
            align-items: center;
            justify-content: center;
        }
        input {
            border-radius: 5px;
            border: 1px solid #324A5F;
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            margin-left: 1rem;
            margin-right: 1rem;;
            width: 97vw;
        }
        select {
            border-radius: 5px;
            border: 1px solid #324A5F;
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            margin-left: 1rem;
            margin-right: 1rem;
            width: 97vw;
        }
        label {
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            margin-left: 2rem;
        }
        .buttoms {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;
            padding: 2rem;
            background-color: #272727;
            .btn-submit {
                @include btn-main();
            }
            .btn-reset {
                @include btn-main();
            }
        }
    }
}