.container-formulario {
    @include flex();
    background-color: #272727;
    font-family: 'Montserrat', sans-serif;
    fieldset {
        form {
            @include flex();
            flex-direction: column;
        }
        legend {
            font-size: 2.5rem;
            padding: 2rem;
            font-family: 'Montserrat', sans-serif;
            color: white;
            text-align: center;
        }
        input {
            border-radius: 5px;
            border: 2px solid;
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
        }
        select {
            border-radius: 5px;
            border: 1px solid;
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
        }
        label {
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
        }
        .btn-submit {
            @include btn-main();
        }
        .btn-reset {
            @include btn-main();
        }
        .buttoms {
            @include flex();
            width: 100vw;
            padding: 2rem;
            background-color: #272727;
        }
    }
}