@media (max-width: 768px) {
    .main-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .title-obj {
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 2rem;
        }
    }
    .description-obj {
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
        }
        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 0.9rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
    .sponsors {
        display: flex;
        flex-direction: column;
        background-color: #272727;
        justify-content: center;
        align-items: center;
        height: auto;
        .sponsor-img {
            width: 250px;
            padding: 1rem;
        }
    }
    .imagen-club {
        max-width: 320px;
        border-radius: 1rem;
        margin-left: 2rem;
    }
    .img-fluid {
        width: 100vw;
    }
    .description-profesores {
        display: flex;
        width: 100vw;
        .contenedor-profe {
            width: 100%;
        }
        h2 {
            text-align: center;
            margin-top: 1rem;
            margin-left: 1rem;
        }
        p {
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .btn-index {
            margin-bottom: 1rem;
            justify-content: center;
        }
    }
}